<h1>..........ssshhhhh, jamming I am.</h1>

<iframe src="https://giphy.com/embed/Ll1rEkDebTIdO" width="480" height="278" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/yoda-Ll1rEkDebTIdO"></a></p>
<hr>

<li><a href="/logout">Logout!</a></li1>